* {
  font-family: 'Courier new', sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #000000 0%, #8000ff 100%);
  color: #333;
  line-height: 1.6;
  min-height: 100vh;
  align-items: center;
}

.header {
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  color: white;
  padding: 3rem 0;
  text-align: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.container {
  width: auto;
  margin: 0 auto;
  padding: 3rem 2rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  max-width: 1700px;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.btn {
  background-color: #4b67a2;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(102, 126, 234, 0.4);
}

.btn:active {
  transform: translateY(0);
}

.btnev {
  background-color: #a24b4b;
  color: white;
  padding: 10px 20px;
  border: solid 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
  width: 95%;
}

.input {
  width: 500px;
  padding: 0.75rem 1rem;
  border: 2px solid rgba(128, 128, 128, 0.5);
  font-size: 1rem;
  color: #000;
  transition: all 0.3s ease;
  border-radius: 8px;
}

.input:focus {
  outline: none;
  border-color: #667eea;
  box-shadow: 0 0 8px rgba(102, 126, 234, 0.3);
}

.footer {
  margin: 0;
  flex-shrink: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  color: white;
  text-align: center;
}

.glass-card {
  background: rgba(255, 255, 255, 0.2); /* Halbtransparentes Weiß */
  backdrop-filter: blur(10px); /* Unschärfe des Hintergrunds */
  -webkit-backdrop-filter: blur(10px); /* Für Safari-Unterstützung */
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1); /* Feiner Rand */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Schatten für Tiefe */
  width: auto;
  height: auto;
  padding: 20px;
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  text-align: center;
}

.input {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 2px solid rgba(128, 128, 128, 0.5);
  font-size: 1rem;
  color: #000;
  transition: all 0.3s ease;
  border-radius: 8px;
}

.card-header {
  font-weight: bold;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.warn {
  color: #ff4d4d;
  font-weight: bold;
  margin-bottom: 1rem;
}